<div class="mt-4">
    <div class="row">
        {{!-- <div class="col-lg-3">
            <button>HỌC NGAY</button>
            <ul>
                <li>{{product.level}}</li>
            </ul>
        </div> --}}

        <div class="">
            <h2>{{formattedProduct.name}}</h2>
            <img class="card-img-top" src="{{formattedProduct.image}}" alt="{{formattedProduct.name}}">
            <p class="mt-4">{{formattedProduct.description}}</p>
            <p>Ngày sản xuất: {{formattedProduct.productionDate}}</p>
            <p>Ngày hết hạn: {{formattedProduct.expirationDate}}</p>
        </div>
    </div>
</div>